<IfModule mod_rewrite.c>
    RewriteEngine On
    RewriteBase /

    # Impede que arquivos ou pastas reais sejam redirecionados
    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteCond %{REQUEST_FILENAME} !-d

    # Redireciona tudo para o index.php
    RewriteRule ^(.*)$ index.php/$1 [L]
</IfModule>